body{
			margin:0px;
			padding:0px;
			font-size:12px;
			background-color:#FFF;
			}
		#containt{
			width:960px;
			text-align:center;
			margin:auto;
			margin-top:30px;	
			padding:0;
			background-color:#FFF;
		}
		
		a{
			text-decoration:none;
			color:#000;
		}
		a:hover{
			text-decoration:underline;
			color:#090;
			}
		#top{
			width:45px;
			height:45px;
			background-color:#FAFAF9;
			position:fixed;
			bottom:109px;
			right:143px;
			}
		#topbutton{
			width:45px;
			height:45px;
			margin-left:0px;
			color:#999;
			font-size:14px;
			background-image:url(../image/top2.png);
			border:1px solid #CCC;
			outline:0;
			}
		#topbutton:hover{
			cursor:pointer;
			background-color:#FAFAF9;
			background-image:none;
			}
		#topword{
			margin-right:400px;
			font-size:28px;
			font-family:ºÚÌå
			}
		#deteilimage{
			position:relative;
			right:-17px;
			margin-top:25px;
			width:960px;
			
			}
		.tr{
			text-align:left;
			height:30px;
			font-size:16px;
			}
		.table{
			position:relative;
			right:-30px;
			font-family:ºÚÌå;
			font-weight:900;
			}
		#table{
			float:left;
			position:relative;
			top:-260px;
			left:700px;
			font-family:ºÚÌå;
			color:#999;
			font-weight:900;
			}
		.td{
			color:#666;
			}
		.button{
			width:180px;
			margin-top:30px;
			margin-right:60px;
			height:40px;
			background-color:#FFEDED;
			border:1px solid #C40000;
			outline:0;
			font-size:18px;
			color:#C40000;
			}
		.button:hover{
			cursor:pointer;
			}