<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/500.jsp</location>
  </error-page>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>Filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>CharacterEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>Units.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GZIPFilter</display-name>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>Filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/UploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managementUI</display-name>
    <servlet-name>managementUI</servlet-name>
    <servlet-class>WebUI.managementUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managementUI</servlet-name>
    <url-pattern>/managementUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>controller.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUI</display-name>
    <servlet-name>registerUI</servlet-name>
    <servlet-class>WebUI.registerUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUI</servlet-name>
    <url-pattern>/registerUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexUI</display-name>
    <servlet-name>IndexUI</servlet-name>
    <servlet-class>WebUI.IndexUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexUI</servlet-name>
    <url-pattern>/IndexUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdinaryUserRegister</display-name>
    <servlet-name>OrdinaryUserRegister</servlet-name>
    <servlet-class>controller.OrdinaryUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdinaryUserRegister</servlet-name>
    <url-pattern>/OrdinaryUserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdinaryUserLogin</display-name>
    <servlet-name>OrdinaryUserLogin</servlet-name>
    <servlet-class>controller.OrdinaryUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdinaryUserLogin</servlet-name>
    <url-pattern>/OrdinaryUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUser</display-name>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>controller.RemoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyUI</display-name>
    <servlet-name>buyUI</servlet-name>
    <servlet-class>WebUI.buyUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyUI</servlet-name>
    <url-pattern>/buyUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rentUI</display-name>
    <servlet-name>rentUI</servlet-name>
    <servlet-class>WebUI.rentUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rentUI</servlet-name>
    <url-pattern>/rentUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>holderUserInfo</display-name>
    <servlet-name>holderUserInfo</servlet-name>
    <servlet-class>WebUI.holderUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>holderUserInfo</servlet-name>
    <url-pattern>/holderUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingShow</display-name>
    <servlet-name>BuildingShow</servlet-name>
    <servlet-class>WebUI.BuildingShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingShow</servlet-name>
    <url-pattern>/BuildingShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeBuildingUI</display-name>
    <servlet-name>removeBuildingUI</servlet-name>
    <servlet-class>WebUI.removeBuildingUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeBuildingUI</servlet-name>
    <url-pattern>/removeBuildingUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyBuilding</display-name>
    <servlet-name>modifyBuilding</servlet-name>
    <servlet-class>controller.modifyBuilding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyBuilding</servlet-name>
    <url-pattern>/modifyBuilding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feelistShowUI</display-name>
    <servlet-name>feelistShowUI</servlet-name>
    <servlet-class>WebUI.feelistShowUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feelistShowUI</servlet-name>
    <url-pattern>/feelistShowUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeFeelist</display-name>
    <servlet-name>removeFeelist</servlet-name>
    <servlet-class>controller.removeFeelist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeFeelist</servlet-name>
    <url-pattern>/removeFeelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rentInsert</display-name>
    <servlet-name>rentInsert</servlet-name>
    <servlet-class>controller.rentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rentInsert</servlet-name>
    <url-pattern>/rentInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rengInfoShow</display-name>
    <servlet-name>rengInfoShow</servlet-name>
    <servlet-class>WebUI.rengInfoShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rengInfoShow</servlet-name>
    <url-pattern>/rengInfoShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleterent</display-name>
    <servlet-name>Deleterent</servlet-name>
    <servlet-class>controller.Deleterent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleterent</servlet-name>
    <url-pattern>/Deleterent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Units.testListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>removeUser</display-name>
    <servlet-name>removeUser</servlet-name>
    <servlet-class>Units.removeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeUser</servlet-name>
    <url-pattern>/removeUser</url-pattern>
  </servlet-mapping>
</web-app>